logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
**/.idea
**/.idea_modules
**/.classpath
**/.project
**/.settings
**/RUNNING_PID
.vscode/
project/
.DS_Store
**/.DS_Store
*.iml
output.sql
**/target/
